<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="SMTP" value="smtp.mail.yahoo.com"/>
    <add key="FromEmail" value=""/>
    <add key="FromPWd" value=""/>
    <add key="Port" value="25"/>
    <add key="ToEmail" value="email2sunit@gmail.com"/>
    <add key="CoWinURL" value=""/>
    <add key="CowinCenter" value="Patel Nagar"/>
  </appSettings>
</configuration>